@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400&display=swap');

.tablet {
  background-image: url("./assets/tablet.png");
  background-size: cover;
  background-color: rgb(255, 255, 255);
  align-items: center;
  width: 400px;
  height: 400px;

}

.tabletText {
  font-family: "Courier Prime", monospace;
  color: #8a8374;
  font-size: 100px;
  letter-spacing: 17px;
  line-height: 80px;
  text-align: left;
  font-weight: 400;
  padding-left: 85px;
  white-space: pre-line;

}


:root{
  background-color: rgb(255, 255, 255);
  
}

.page{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(255, 255, 255);
  color: white;
}

.solvedMessage{
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.6s ease, visibility 0.6s ease;
  font-family: "Courier Prime", monospace;
  font-size: 40px;
  text-align: center;
  background: #ffffff;
  width: 60%;
  height: 0px;
  margin-top: -0px;
  color: #4e4e4e;
  width: 70%;
  white-space: pre-line;
}

.solvedMessage.show{
  opacity: 1;
  visibility: visible;
  height: 50%;
  width: 60%;
  margin-top: -100px;
  margin-bottom: 50px;
}

.guide{
  display: flex;
  flex-direction: column;
  font-family: "Courier Prime", monospace;
  color: #4e4e4e;
  width: 60%;
  text-align: center;
}

h1{
  font-size: 50px;
  font-weight: 500;
  margin-bottom: 0px;
  line-height: 50px;
  margin-bottom: 20px;
}

p{
  margin-top: 5px;
  font-size: 25px;
  font-weight: 500;
}

.letter-buttons {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  width: 80%;
  margin-bottom: 50px;
  margin-top: -50px;
}

.letter-buttons button {
  width: 70px;
  height: 70px;
  font-family: "Courier Prime", monospace;
  font-size: 60px;
  border-radius: 8px;
  border: 0;
  background: #9c9c9c;
  color: #ffffff;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.15s ease;
}

/* Only apply hover effects on devices with real hover */
@media (hover: hover) {
  .letter-buttons button:hover {
    background: #cccccc;
    transform: translateY(-20px);
  }
}

.letter-buttons button:active {
  background: #d5d5d5;
  transform: translateY(0);
}

.trialPips{
  font-size: 100px;
  letter-spacing: 10px;
  font-weight: 500;
  line-height: 50px;
  margin-bottom: 100px;
  color: #4e4e4e;
}

.submitButton{
  width: 70px;
  height: 70px;
  font-family: "Courier Prime", monospace;
  font-size: 60px;
  border-radius: 8px;
  border: 0;
  background: #9c9c9c;
  color: #ffffff;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.15s ease;
}
